* {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
.body{
    margin:0;
    padding:0;
}
.background {
    background-color: rgb(34, 33, 33);
    height: 100vh;
    padding-top: 1px;
}
.title {
    color: white;
    text-align: center;
    font-size: 30px;
    margin-top: 5%;
}
.display {
    color: white;
    font-size: 15px;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
}
.announce {
    display: inline;
    font-size: 25px;
}
.container {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 33% 33% 33%;
    max-width: 300px;

}
.tile {
    border: 1px solid white;
    min-width: 100px;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    cursor: pointer;
}
.three {
    background-color:rgb(212, 210, 207);
    animation: rotationa 2s ease 0s 1 alternate none running;
}
@keyframes rotationa{
    0%{
        transform: scale(.3);
        background-color:rgb(34, 33, 33);
    }
    100%{
        transform: scale(1);
        background-color:rgb(212, 210, 207);
    }
}
.controls {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
}
.controls button {
    color: white;
    width: 100px;
    padding: 8px;
    border-radius: 8px;
    border: none;
    font-size: 20px;
    margin-left: 0.2em;
    margin-right: 0.2em;
    cursor: pointer;
}
#reset,#back{
    background-color: #16be00;
}
#firstPlayer,#firstProcedure {
    background-color: #00aaf8;
}
#secondPlayer,#secondProcedure {
    background-color: #d82a47;
}